h1 {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    font-size: 60px;
  }
div{
    text-align: center;
    padding: 90px;
    margin: 50px;
    font-size: 45px;
}
p{
    font-size: 30px;
    color: purple;
    margin:50px;
}