<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <a [routerLink] = "['']">Logout</a>
        <h1>Welcome Caleb</h1>
        <p>Contact Name: </p>
        <input type="text"/><br/>
        <p>Phone Num:</p>
        <input type="text"/><br/>
        <div>

        </div>

        <button>Submit</button>
    </div>
</body>
</html>

