<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <div>
        <div>
            <h1>Caleb's Course App</h1>
        </div>
        <div class = "Maindiv">
            <a routerLink="/addC">Add Course</a><br><br>
            <a routerLink="/updateC">Update Course</a><br><br>
            <a routerLink="/deleteC">Delete Course</a><br><br>
            <a routerLink="/fetchC">Fetch Courses</a>
        </div>
    </div>
</body>
</html>