body{
    background-color: chocolate;
    border: solid;
    align-items: center;
    justify-content: center;
    margin:0;
    display: flex;
    min-height: 100vh;
}

form{
    padding:10px
}

div{
    margin: 5px
}
label{
    margin: 10px
}